.card{
    width: 1000px;
    height: 1070px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.img_1{
    height: 200px;
}
.img_2{
   height: 200px;
}
.img_3{
   height: 200px;
}
.img_4{
   height: 200px;
}
.img_5{
   height: 200px;
}
.img_6{
   height: 200px;
}
.card_1{
    background-color: #ad302e;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}

.card_2{
    background-color: #00a0d6;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}
.card_3{
    background-color: #6b4003;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}
.card_4{
    background-color: #6b0353;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}
.card_5{
    background-color: #ff00f7;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}
.card_6{
    background-color: #fff200;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
    height: 400px
}
.h_3_1{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #b3ff00;
}
.h_3_2{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #ffae00;
}
.h_3_3{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #ff007b;
}
.h_3_4{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #7403ff;
}
.h_3_5{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #11ff00;
}
.h_3_6{
    font-size: 30px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    color: #00b7ff;
}
.p_1{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #b3ff00;
}
.p_2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #b3ff00;
}
.p_3{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #ffae00;
}
.p_4{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #ffae00;
}
.p_5{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #ff007b;
}
.p_6{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #ff007b;
}
.p_7{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #7403ff;
}
.p_8{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #7403ff;
}
.p_9{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #11ff00;
}
.p_10{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #11ff00;
}
.p_11{
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #00b7ff;
}
.p_12{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #00b7ff;
}
.btn__1{
    background-color: #000;
    border-radius: 10px;
    color: #b3ff00;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__2{
    background-color: #000;
    border-radius: 10px;
    color: #ffae00;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__3{
    background-color: #000;
    border-radius: 10px;
    color: #ff007b;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__4{
    background-color: #000;
    border-radius: 10px;
    color: #7403ff;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__5{
    background-color: #000;
    border-radius: 10px;
    color: #11ff00;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__6{
    background-color: #000;
    border-radius: 10px;
    color: #00b7ff;
    padding:10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    transition: 0.3s;

}
.btn__1:hover{
    background-color: #ad302e;
    color:#b3ff00;
    border: 1px solid #b3ff00;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.btn__2:hover{
    background-color: #00a0d6;
    color:#ffae00;
    border: 1px solid #ffae00;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.btn__3:hover{
    background-color: #6b4003;
    color:#ff007b;
    border: 1px solid #ff007b;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.btn__4:hover{
    background-color: #6b0353;
    color:#7403ff;
    border: 1px solid #7403ff;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.btn__5:hover{
    background-color: #ff00f7;
    color:#11ff00;
    border: 1px solid #11ff00;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.btn__6:hover{
    background-color: #fff200;
    color:#00b7ff;
    border: 1px solid #00b7ff;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.srdce_1{
    border-radius: 7px;
    background-color: #b3ff00;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_1.png');
    background-size: cover;
    cursor: pointer;
}
.srdce_2{
    border-radius: 7px;
    background-color: #ffae00;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_2.png');
    background-size: cover;
    cursor: pointer;
}
.srdce_3{
    border-radius: 7px;
    background-color: #ff007b;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_3.png');
    background-size: cover;
    cursor: pointer;
}
.srdce_4{
    border-radius: 7px;
    background-color: #7403ff;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_4.png');
    background-size: cover;
    cursor: pointer;
}
.srdce_5{
    border-radius: 7px;
    background-color: #11ff00;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_5.png');
    background-size: cover;
    cursor: pointer;
}
.srdce_6{
    border-radius: 7px;
    background-color: #00b7ff;
    width: 20px;
    height:20px;
    align-self: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border: 1px solid #000;
    background-image: url('img/srdce_1_6.png');
    background-size: cover;
    cursor: pointer;
}
.btn_{
    display: flex;
    justify-content: space-around;
}
.srdce_1:hover{
    background-image: url('img/srdce_2_1.png');  
}
.srdce_2:hover{
    background-image: url('img/srdce_2_2.png');  
}
.srdce_3:hover{
    background-image: url('img/srdce_2_3.png');  
}
.srdce_4:hover{
    background-image: url('img/srdce_2_4.png');  
}
.srdce_5:hover{
    background-image: url('img/srdce_2_5.png');  
}
.srdce_6:hover{
    background-image: url('img/srdce_2_6.png');  
}
