body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(120deg, #ffae00, #00a0d6);
  height: 100vh;

}

.topanky{
    width:950px;
    height: 600px;
    filter: drop-shadow(0 0 55px rgba(255, 255, 255, 7.8));
}
.card_2{
    width: 1500px;
    height: 600px;
    display: flex;
    justify-content:end;
    align-items: center;
}
.l_shape{ width: 50px; 
          height: 40px; 
          margin: 15px; 
          border-radius: 8px; 
          transition: 0.3s;
          display: flex;
          justify-content:center;
          align-content:center;
}
.r_shape{ width: 50px;
          height: 40px; 
          margin: 15px; 
          border-radius: 8px;
          transition: 0.3s;
          display: flex;
          justify-content:center;
          align-content:center; 
}
.l_shape:hover { transform: scale(1.05); 
}
.r_shape:hover { transform: scale(1.05); 
}
.size{
    background-color: #fff;
    color: #000;
    width: 316px;
    height: 30px;
    font-size: 20px;
    display: flex;
    padding: 5PX;
    align-items: center;
    border: #000 solid 1px;
}
.btn{
    background-color: #fff;
    color: #000;
    padding:10px;
    font-size: 23px;
    display: flex;
    max-width: 300px;
    max-height: 100px;
    transition: 0.3s;
    text-decoration: none;
    justify-content: center;
    border: #000 solid 1px;
}
select {
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}
.p{
    font-size: 60px;
}